.burger-menu {
    display: flex;
    align-items: center;
    width: 371px;
    padding: 20px;
    background: #FFBE48;
    border-top-left-radius: 10px;
    color: #fff;
    position: relative;
    flex-shrink: 0;
    cursor: pointer;

    &__left{
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 83px;

        &:hover .burger-menu__text{
            opacity: .7;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 120%;
        transition: all .3s;
        font-weight: 500;
    }

    &__burger {
        margin-right: 20px;
    }

    &__link {
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        font-size: 14px;
        line-height: 24px;
        transition: all .3s;
        margin-top: 5px;
        white-space: nowrap;

        &:hover {
            border-bottom: 1px solid rgba(255, 255, 255, 0);
        }
    }

    &__list{
        display: none;
        box-shadow: 0 10px 80px rgba(0, 52, 41, .3);
        position: absolute;
        top: 71px;
        left: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: #fff;
        z-index: 30;

        &--active{
            display: block;
        }
    }
}
