.characteristic{
    max-width: 588px;

    &__title{
        color: #33485D;
        font-size: 30px;
        line-height: 120%;
    }

    &__link{
        color: #219653;
        transition: all .3s;

        &:hover{
            opacity: .7;
        }
    }

    &__positions{
        margin-top: 32px;
        max-width: 320px;
    }

    &__position{
        display: flex;
        margin-bottom: 5px;
    }

    &__type{
        color: #33485D;
        font-size: 16px;
        font-weight: 500;
    }

    &__line{
        border-bottom: 1px dotted #DDE8F0;
        width: 100%;
        height: 20px;
    }

    &__product{
        color: #5C6D7D;
        font-size: 16px;
        white-space: nowrap;
    }

    &__all{
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        color: #33485D;
        margin-top: 15px;
        display: flex;
        align-items: center;
        transition: all .3s;

        &:hover{
            opacity: .7;
        }
    }

    &__text-all{
        margin-right: 5px;
        border-bottom: solid 1px rgba(92, 109, 125, .5);
        line-height: 35px;
    }

    &__vector{
        width: 20px;
        height: 16px;
        fill: #33485D;
    }
}
