@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff2'),
        url('../fonts/roboto-regular-webfont.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-bold_0-webfont.woff2'),
        url('../fonts/roboto-bold_0-webfont.woff');
    font-weight: 700;
    font-style: normal;
}
