.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

    &-wrapper{
        background: #0D4128;
    }

    &__text{
        font-size: 14px;
        color: #FFF;
        opacity: 0.5;
    }
}
