.to-basket{
    width: 226px;
    background: #219653;
    display: flex;
    align-items: center;
    padding-left: 21px;
    transition: all .3s;

    &:hover{
        background: #FDEEEE;
        color: #EB5757;
    }
    &:hover &__text{
        color: #EB5757;
    }
    &:hover &__img{
        stroke: #EB5757;
        fill: #EB5757;
    }

    &__text{
        color: #FFF;
        font-weight: 500;
        font-size: 24px;
        margin-right: 41px;
    }

    &__img{
        width: 30px;
        height: 28px;
        stroke: #fff;
        fill: #fff;
    }
}
