.useful{
    width: 270px;
    border: 2px solid #FFCB6D;
    border-top-right-radius: 18px;
    display: flex;
    position: relative;

    &__item{
        height: 60px;
        border-right: 2px solid #FFCB6D;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 90px;

        &--active{
            background: #47B39C;
            fill: #fff;
            border-top-right-radius: 18px;
        }

        &--basket{
            position: relative;
        }

        &:nth-child(3){
            border-right: none;
        }

        &:hover .useful__img{
            stroke: #a0aec0;
        }
    }

    &__img{
        width: 30px;
        height: 25px;
        fill: #33485D;
        transition: all .3s;

        &--basket{
            width: 30px;
            height: 25px;
            stroke: #33485D;
            transition: all .3s;
        }

        &--active{
            stroke: #fff;
            fill: #fff;
        }
    }


    &__counter{
        width: 30px;
        height: 20px;
        background: #FFBE48;
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #33485D;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        position: absolute;
        right: 6px;
        top: 7px;

        &--active{
            background: #fff;
        }
    }
}
